

.card {
    border-radius: 25px;
    left: 200px;
    position: relative;
    width: 301px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 9px 10px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.card_name {
    position: relative;
    width: 134px;
    height: 38px;
    left: 56px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */


    color: #000000;

}

.card-subtitle {
    position: absolute;
    width: 261px;
    height: 12px;
    left: 22px;
    top: 93px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;

    color: #000000;

}

.logo {
    position: relative;
    width: 24.24px;
    height: 20px;
    left: 22px;
    top: 37px;

    background: url('../assets/csk_logo.png');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.p-2{
    left: 50%;
    top: 75px;
    bottom: 50px;
    right: 50px;
    object-fit: contain;
    position: absolute;
}