<!DOCTYPE html>

<head>
  <link rel="Stylesheet" href="/sports_app/src/app/app.component.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sport-O</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sport Leagues</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Host a Tournament</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="d-flex flex-row mb-3">
    <div class="p-1">
      <br><br>
      <div class="card_name">
        <h5>LIVE</h5>
      </div>
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">IPL match 28</h6>
          <p class="card-subtitle mb-2 text-muted">CSK won the toss and choose to bat</p>
          <p class="card-text"></p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <br><br>
      <div class="card_name">
        <h5>Upcoming</h5>
      </div>
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">IPL match 29</h6>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <div class="logo"></div>
          <p class="card-text"></p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="p-2">
      <div class="card_name">
        <h5>Latest News</h5>
      </div>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p>‘Cricket at tipping point’: Former England captain takes swipe at IPL</p>
            <img src="../assets/ben stokes.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <p>Mithali Raj hints at coming out of retirement for the inaugural women’s IPL</p>
            <img src="../assets/Mithali-Raj.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <p>India vs West Indies, 2nd ODI: Axar Patel says IPL experience helped him produce match-winning knock</p>
            <img src="../assets/india.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</body>